
{% load static%}



<meta charset="UTF-8">
<title>CodePen -  Sign In / Sign Up | Nothing4us</title>
<link rel="stylesheet" href="{% static 'authentication/css/css.css'%}">

<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Sign In / Sign Up | Nothing4us</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'><link rel="stylesheet" href="./style.css">

</head>
<body>


<!-- partial:index.partial.html -->
<div class="login-container-reset">
	<form action="{% url 'password_reset'%}" method="POST" class="form-login">{% csrf_token%}
		<ul class="login-nav">
			<li class="login-nav__item active ">
				<a href="{% url 'login'%}">Recover Password</a>
			</li>
			
		</ul>
        <label for="login-input-user" class="login__label">
			Email
		</label>
        {{form.email}}
        <!-- partial -->
        {% if messages%}
            {% for i in messages%}
                    <div class="alert alert-{{i.tags}}" style="color: red;" role="alert">
                        {{i}}
                    </div>
            {% endfor%}
        {%endif%}
		
		<input type="submit" class="login__submit" value="Send">
	</form>

</div>


  
</body>
</html>
<!-- partial -->
  
</body>
</html>


