{% extends 'base_templates/authentication_base.html'%}
{% load static%}

{% block 'head'%}
    <link rel="stylesheet" href="{% static 'authentication/css/css.css'%}">
{% endblock %}

{%block 'body'%}
    <div class="container mt-4">


        <div class="box">
            {% if messages%}
                {% for i in messages%}
                    <div class="alert alert-{{i.tags}}" role="alert">
                        {{i}}
                    </div>
                {% endfor%}
            {%endif%}
            <form action="{% url 'login'%}" method="POST">{% csrf_token %}
                <h2>Logar</h2>
                <hr class="hr">
                {{auth_form_login}}
                <input type="submit" value="enviar" class="btn btn-main">
        </div>
            </form>
    </div>
{% endblock%}
